.cvsRed {
  color: #cb2026;
}
.cvsRed-light {
  color: #e4565b;
}
.cvsRed-lighter {
  color: #f1a4a7;
}
.cvsRed-lightest {
  color: #ffffff;
}
.cvsRed-dark {
  color: #871519;
}
.cvsRed-darker {
  color: #38090b;
}
.cvsRed-darkest {
  color: #000000;
}
.cvsBlue {
  color: #81bce7;
}
.cvsBlue-light {
  color: #c3dff4;
}
.cvsBlue-lighter {
  color: #ffffff;
}
.cvsBlue-lightest {
  color: #ffffff;
}
.cvsBlue-dark {
  color: #3f99da;
}
.cvsBlue-darker {
  color: #1e69a0;
}
.cvsBlue-darkest {
  color: #030b11;
}
.cvsGreen {
  color: #a6ce39;
}
.cvsGreen-light {
  color: #c2de78;
}
.cvsGreen-lighter {
  color: #e3f0c1;
}
.cvsGreen-lightest {
  color: #ffffff;
}
.cvsGreen-dark {
  color: #769324;
}
.cvsGreen-darker {
  color: #3c4b12;
}
.cvsGreen-darkest {
  color: #000000;
}
.cvsTeal {
  color: #39b9aa;
}
.cvsTeal-light {
  color: #6fd2c7;
}
.cvsTeal-lighter {
  color: #b4e8e2;
}
.cvsTeal-lightest {
  color: #ffffff;
}
.cvsTeal-dark {
  color: #267d72;
}
.cvsTeal-darker {
  color: #113733;
}
.cvsTeal-darkest {
  color: #000000;
}
.cvsNavy {
  color: #003c54;
}
.cvsNavy-light {
  color: #0074a3;
}
.cvsNavy-lighter {
  color: #00b5fe;
}
.cvsNavy-lightest {
  color: #a9e6ff;
}
.cvsNavy-dark {
  color: #000405;
}
.cvsNavy-darker {
  color: #000000;
}
.cvsNavy-darkest {
  color: #000000;
}
*[class^='panel-cvs-'] {
  background-color: #fff;
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
}
*[class^='panel-cvs-'] > .header {
  min-height: 50px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight: 600;
}
*[class^='panel-cvs-'] > .header > .more {
  padding-top: 6px;
  padding-bottom: 0px;
  padding-right: 10px;
  font-weight: 400;
  font-size: .8em;
  ovtext-overflow: align-self;
}
*[class^='panel-cvs-'] > .body {
  color: inherit;
  font-size: 1.2em;
  min-height: 75px;
  border-bottom-color: #cecece;
  border-bottom-style: dashed;
  border-bottom-width: thin;
  margin-bottom: 5px;
  padding-top: 25px;
}
*[class^='panel-cvs-'] > .body > .more {
  padding-top: 6px;
  padding-bottom: 0px;
  padding-right: 10px;
  font-weight: 400;
  font-size: .8em;
}
*[class^='panel-cvs-'] > .body .value-lg {
  margin-top: -15px;
  padding-right: 5px;
  font-size: 2.5em;
  font-weight: 600;
  color: inherit;
}
*[class^='panel-cvs-'] > .body .value-sm {
  font-size: 1em;
  font-weight: 600;
}
*[class^='panel-cvs-'] > .body .value-med {
  font-size: 1.5em;
  font-weight: 600;
}
*[class^='panel-cvs-'] > .footer {
  width: auto;
  padding: 3px;
  margin-bottom: 3px;
  color: #646564;
}
*[class^='panel-cvs-'] > .footer > .top {
  min-height: 50px;
  margin-bottom: 5px;
}
*[class^='panel-cvs-'] > .footer > .top > .singleIcon {
  font-size: 3em;
  font-weight: 600;
}
*[class^='panel-cvs-'] > .footer > .top > .text {
  padding-top: 25px;
  font-size: 1.6em;
  padding-left: 10px;
}
*[class^='panel-cvs-'] > .footer > .top > .more {
  padding-top: 25px;
  font-weight: 400;
  font-size: 2.0em;
}
.panel-cvs-navy > .header {
  color: #fff;
  background-color: #003c54;
}
.panel-cvs-navy > .body .more {
  color: #003c54;
}
.panel-cvs-navy > .body .value-lg,
.panel-cvs-navy > .body .value-sm,
.panel-cvs-navy > .body .value-md {
  color: #003c54;
}
.panel-cvs-red > .header {
  color: #fff;
  background-color: #cb2026;
}
.panel-cvs-red > .header .popover-content,
.panel-cvs-red > .header .popover-title {
  color: #000;
}
.panel-cvs-red > .header > .more {
  color: #fff;
}
.panel-cvs-red > .body .more {
  color: #871519;
}
.panel-cvs-red > .body .value-lg,
.panel-cvs-red > .body .value-sm,
.panel-cvs-red > .body .value-md {
  color: #871519;
}
.panel-cvs-blue > .header {
  color: #000;
  background-color: #81bce7;
}
.panel-cvs-blue > .body .more {
  color: #1e69a0;
}
.panel-cvs-blue > .body .value-lg,
.panel-cvs-blue > .body .value-sm,
.panel-cvs-blue > .body .value-md {
  color: #1e69a0;
}
.panel-cvs-green {
  color: #769324;
}
.panel-cvs-green > .header {
  color: #000;
  background-color: #a6ce39;
}
.panel-cvs-green > .body {
  color: #3c4b12;
}
.panel-cvs-green > .body .value-lg,
.panel-cvs-green > .body .value-md,
.panel-cvs-green > .body .value-sm,
.panel-cvs-green > .body .more {
  color: #769324;
}
.panel-cvs-green > .body .text {
  color: inherit;
}
.panel-cvs-green > .footer .more,
.panel-cvs-green > .footer .singleIcon {
  color: #769324;
}
.panel-cvs-green > .footer .singleIcon + .text {
  color: inherit;
}
.panel-cvs-teal > .header {
  color: #000;
  background-color: #39b9aa;
}
.panel-cvs-teal > .body .more,
.panel-cvs-teal > .body .value-lg,
.panel-cvs-teal > .body .value-sm,
.panel-cvs-teal > .body .value-md {
  color: #267d72;
}
.panel-cvs-teal > .body .text {
  color: inherit;
}
.panel-cvs-teal > .singleIcon {
  color: #267d72;
}
@media (min-width: 768px) and (max-width: 1199px) {
  *[class^='panel-cvs-'] > .header {
    font-size: 1.2em;
    padding-left: 8px;
    padding-top: 15px;
    padding-bottom: 0px;
  }
  *[class^='panel-cvs-'] > .header > .more {
    font-size: .8em;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
  }
}
.font-showcase > i {
  font-size-adjust: auto;
  font-size: 4em;
}
/*# sourceMappingURL=cvsPanel.css.map */